@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Nunito:200,300,400,600,700,800,900&display=swap");
/*==SCSS coded by rajeshdas.com==*/
/*font import from google fonts*/
/*font import from google fonts*/
 body {
	 font-family: "Nunito", sans-serif;
	 transition: all 0.5s ease;
	 
}
 h1, h2, h3, h4, h5, h6 {
	 font-family: "Montserrat", sans-serif;


}
 .page-wrap {
	 padding: 30px 15px;
	 text-align: center;
	 display: flex;
	 align-items: center;
	 margin-top: 50%;
}
 .page-wrap .page-not-found {
	 width: 400px;
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
}
 .page-wrap .page-not-found .img-key {
	 margin-bottom: 0px;
	 
}
 .page-wrap .page-not-found h1.text-xl {
	 color: #036b7b;
	 text-transform: uppercase;
	 line-height: 50px;
	 font-size: 160px;
	 font-weight: 800;
	 letter-spacing: -28px;
	 text-shadow: -6px 4px 0px #fff;
	 margin-left: -20px;
	 margin-top: 50px;
	 margin-bottom: 50px;
	 
}
 .page-wrap .page-not-found h1.text-xl span {
	 transition: all 1s ease;
	 display:inline-block;
	 animation: pulse 4s infinite;
	 font-size: 160px;
	 width: 200px;

}
 .page-wrap .page-not-found h4.text-md, .page-wrap .page-not-found h4.text-sm {
	 letter-spacing: 0.38px;
	 font-weight: 300;
	 line-height: 20px;
	 font-size: 14px;
	 text-transform: none;
	 color: rgba(0, 0, 0, 0.5);
	 margin-bottom: 0px;
	 width: 100%;
}
 .page-wrap .page-not-found h4.text-md a, .page-wrap .page-not-found h4.text-sm a {
	 color: #1177bd;
	 text-decoration: underline;
	 font-weight: 700;
}
 .page-wrap .page-not-found h4.text-md a:hover, .page-wrap .page-not-found h4.text-sm a:hover, .page-wrap .page-not-found h4.text-md a:focus, .page-wrap .page-not-found h4.text-sm a:focus {
	 text-decoration: none;
}
 .page-wrap .page-not-found h4.text-md {
	 font-size: 50px;
	 font-weigth: 700;
	 color: #1177bd;
	 text-transform: none;
	 margin-top: 20%;


}
 .page-wrap .page-not-found h4.text-sm-btm {
	margin-top: 10%;
	 top: auto;
	 bottom: 40px;
}
 @keyframes pulse {
	 from {
		 color: #074457;
	}
	 to {
		 color: rgb(73, 171, 210);
	}
}
 @media (max-width: 768px) {
	 .page-wrap .page-not-found h1.text-xl {
		 font-size: 120px;
		 letter-spacing: -20px;
		 margin-bottom: 30px;
	}
	 .page-wrap .page-not-found h4.text-sm {
		 top: 10px;
	}
	 .page-wrap .page-not-found h4.text-sm-btm {
		 bottom: -60px;
	}
	 .page-wrap .page-not-found h4.text-md {
		 font-size: 30px;
	}
}
 