.icon .fa-search{
    position: relative;
    top:30px;
    left: -20px;
    color: #9ca3af;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 850px;
    position: relative;
    background: url("../../assets/img/Sans\ titre.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
  }
  
  @media (max-width: 991px) {
    #hero {
      padding: 140px 0 60px 0;
    }
  }
  
  @media (max-width: 574px) {
    #hero {
      padding: 100px 0 20px 0;
    }
  }
  
  #hero .hero-img {
    width: 50%;
    float: right;
  }
  
  @media (max-width: 991px) {
    #hero .hero-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;
    }
  }
  
  #hero .hero-info {
    width: 50%;
    float: left;
  }
  
  @media (max-width: 991px) {
    #hero .hero-info {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    #hero .hero-info {
      width: 100%;
    }
  }
  
  #hero .hero-info h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero .hero-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    #hero .hero-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  
  #hero .hero-info .btn-get-started,
  #hero .hero-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
  }
  
  #hero .hero-info .btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
  }
  
  #hero .hero-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
  }
  
  #hero .hero-info .btn-services {
    border: 2px solid #fff;
  }
  
  #hero .hero-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
  }