/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.product-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  /* position: relative; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1024px) {
  .home {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .product-details {
    margin: 20px 0;
  }

  .image img {
    height: 200px;
    width: 100%;
  }
}